html,body {height: 1336; width: 960px; margin: 0;}

.page {page-break-after: always; display: block; page-break-inside: avoid;}


.card {width: 32%; height: 412px; float: left; border-bottom: 2px solid black; position: relative;}
.cardCenter {width: 34%; border-left: 2px solid black; border-right: 2px solid black;}

/* 标题 */
.name {width: 100%; height: 30px; margin-bottom: 10px;}
h1 {text-align: center; margin-top: 0; margin-bottom: 0; padding-top: 5px; font-size: 20px;}

/* 图片 */
.picture {width: 100%; margin: auto;}
img {max-width: 300px; max-height: 250px; width: auto; height: auto; display: block; margin: auto;}

/* 说明 */
.description {width: 80%; height: 100px; margin: auto; font-size: 13.5px;}
